/* Colors */
/* главный цвет для фона - #ffffff; главный цвет для шрифта - #434455 , для заголовков - #2E2F42 */
/* header - #ffffff + line br - #E7E9FC */
/* button - #4D5AE5 */
/* logo - web - #4D5AE5 m studio - #2E2F42 */
/* hero  - text #ffffff */

:root {
  --text-color: #434455;
  --h-color: #2e2f42;
  --pressed-state: #404bbf;
  --primary-brand: #4d5ae5;
  --footer-background-color: #2e2f42;
  --secondary-background-color: #f4f4fd;
  --white-background: #ffffff;
  --white-text: #ffffff;
  --footer-cloud-text: #f4f4fd;
}

body {
  background-color: var(--white-background);
  color: var(--text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.02em;
}
.link {
  text-decoration: none;
}

.list {
  list-style: none;
}
/* Header */
.nav-logo {
  color: var(--primary-brand);
  font-family: Raleway, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.logo {
  color: var(--h-color);
}

/* tech  */

.nav-links {
  color: var(--h-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
}
.address {
  font-style: normal;
}
.address-links {
  color: var(--text-color);
  font-size: 16px;
  line-height: 1.5;
}
.nav-links:hover,
.nav-links:focus,
.address-links:hover,
.address-links:focus {
  color: var(--pressed-state);
}

/* hero */
.hero {
  background-color: var(--footer-background-color);
}

.hero-title {
  color: var(--white-text);
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
}

.hero-buttton {
  color: var(--white-text);
  background-color: var(--primary-brand);
  cursor: pointer;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
}
.hero-buttton:hover,
.hero-buttton:focus {
  background-color: var(--pressed-state);
}
/* main */
/* section 2 */
.features-title {
  color: var(--h-color);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}
.features-text {
  font-size: 16px;
  line-height: 1.5;
}
/* section 3/4 */
.project-title,
.team-title {
  color: var(--h-color);
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
}
.team-card .employee {
  color: var(--h-color);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02;
  text-align: center;
}
.team-card .position {
  color: var(--text-color);
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
}
.team-section {
  background-color: var(--secondary-background-color);
}
.team-card {
  background-color: var(--white-background);
}
/* footer */
.footer-section {
  background-color: var(--footer-background-color);
}
.footer-logo {
  color: var(--primary-brand);
  font-family: Raleway, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.footer-text {
  color: var(--footer-cloud-text);
  font-size: 16px;
  line-height: 1.5;
}
.foot-logo {
  color: var(--footer-cloud-text);
}

/* portfolio */

/* buttons */
.filter-button {
  color: var(--primary-brand);
  background-color: var(--secondary-background-color);
  font-family: Roboto, sans-serif;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.04em;
}

.filter-button:hover,
.filter-button:focus {
  color: var(--white-text);
  background-color: var(--pressed-state);
}
/* section */
.portfolio-title {
  color: var(--h-color);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.portfoilio-text {
  color: var(--text-color);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
